.lojas h2 {
    padding-top: 120px;
    padding-bottom: 60px;
}

.lojas-card {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

.lojas-bg {
    background-color: var(--w);
}

.lojas-card img {
    width: 100%;
}

.lojas-card h3 {
    margin-block: 32px;
    position: relative;
    display: flex;
    align-items: center;
}

.lojas-card h3::before {
    content: "";
    position: absolute;
    left: -24px;
    width: 12px;
    height: 8px;
    background-color: var(--p1);
}


.loja-conteudo {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 32px;
}


.lojas-info {
    display: flex;
    gap: 60px;
}

.lojas-info div {
    border-left: 3px solid var(--c2);
    padding-left: 12px;
    padding-block: 6px;
    margin-bottom: 32px;

}

.loja-conteudo span img {
    width: auto;
}

.loja-conteudo span {
    display: flex;
    align-items: center;
    gap: 12px;
}



@media(max-width:1100px) {
    .lojas-card {
        grid-template-columns: 1fr;
    }
}

@media(max-width:520px) {
    .lojas-info {
        flex-wrap: wrap;
        padding-bottom: 0px;
        gap: initial;
    }
}