section {
    max-width: 1300px;
    border: 5px solid blue;
    margin: 0 auto;
}

.bicicletas {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    display: flex;
    gap: 40px;
    /* justify-content: center; */
    /* box-sizing: border-box; */
    border: 5px solid yellow;
    overflow-x: auto;


}

.bicicletas li {
    min-width: 280px;
    flex: 1;

}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

section h1 {
    margin-left: 160px;
}

.bicicletas img {
    max-width: 100%;

    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 16px;

}

.bicicletas li h2 {

    position: relative;
    margin: 0px;
}

.descricao {
    margin-left: 25px;
    transition: .7s;
}

.bicicletas li h2::before {
    content: "";
    display: inline-block;
    background-color: var(--p2);
    width: 12px;
    height: 8px;
    position: absolute;
    left: -20px;
    top: 16px;
    transition: .7s;
}

.bicicletas li p {
    margin-top: 8px;
}

.motion:hover h2::before {
    width: 24px;
}


@media (max-width:1000px) {
    section {
        align-items: center;
    }

    section h1 {
        margin-left: 0px;
    }

}