.footer-bg {
    background-color: var(--c12);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    row-gap: 80px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-copy {
    grid-column: 1/-1;
}

.footer ul li a {
    color: inherit;
}

.footer h3 {
    margin-bottom: 32px;
    text-transform: uppercase;
}

.footer ul {

    margin-bottom: 32px;
}

.contato ul li:nth-child(even)::after {
    content: "";
    display: block;
    max-width: 300px;
    height: 2px;
    margin-top: 16px;
    background-color: var(--c11);
}


.footer li {
    margin-bottom: 16px;
}

.footer-redes {
    display: flex;
    gap: 32px;
}

.footer a:hover {
    color: var(--w);
}

@media(max-width:950px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .contato {
        grid-column: 1;
    }

    .footer .logo {
        display: none;
    }

    .footer-redes {
        margin-bottom: 20px;
    }

    @media(max-width:700px) {
        .footer {
            grid-template-columns: 1fr;
        }
    }
}