.header-bg {

    background-color: var(--c12);
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    gap: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.menu-item {
    color: inherit;
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

.menu-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 45px;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: var(--p1);
    transition: 0.8s;
}

.menu-item:hover.menu-item::after {
    width: 100%;
    opacity: 1;
}

@media(max-width:800px) {
    .header {
        justify-content: center;
        flex-direction: column;
        gap: 35px;
        padding: 30px;
    }

    .header-menu {
        gap: 20px;
    }

    .menu-item {
        background-color: var(--c11);
        font-size: 22px;
        padding: 10px 14px;
        border-radius: 10px;
    }

    .menu-item::after {
        display: none;
    }

    .menu-item:hover {
        background-color: var(--c10);
        color: var(--w);
    }

}

@media(max-width:500px) {
    .menu-item {

        padding: 6px 10px;
        font-size: 20px;
    }
}

@media(max-width:430px) {
    .header-menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {

        padding: 12px 24px;
        font-size: 24px;
    }
}