.header-bg {

    background-color: var(--c12);

}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    box-sizing: border-box;

    /* border: 5px solid yellow; */
}



.logo {}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.menu-item {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: var(--w);
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}



.menu-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 45px;
    width: 0%;
    height: 2px;
    opacity: 0;
    background-color: white;

    transition: 0.8s;
}

.menu-item:hover.menu-item::after {
    /* opacity: 80%; */
    width: 100%;
    opacity: 1;
}

@media(max-width:800px) {
    .header {
        justify-content: center;
        flex-direction: column;
    }

    .header-menu {
        gap: 20px;

    }

    .menu-item {
        background-color: var(--c11);
        padding: 10px 14px;
        border-radius: 10px;
    }

    .menu-item::after {
        display: none;
    }

    .menu-item:hover {
        /* opacity: 80%; */
        background-color: var(--c10);
        color: var(--w);
    }



}

@media(max-width:500px) {
    .menu-item {
        padding: 6px 10px;
        font-size: 14px;
    }
}