.bicicletas {
    display: grid;
    gap: 120px;
}

.bicicletas-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bicicletas-card img {
    max-width: 100%;
    border-radius: 5px;
}

.bicicleta-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bicicleta-conteudo h2 {
    grid-column: 1/-1;
}

.bicicleta-conteudo p {
    grid-column: 1/-1;
}

.bicicleta-conteudo a {
    display: inline-block;
    max-width: max-content;
    justify-self: end;
    grid-row: 4;
}