.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.primario {
    background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
    color: var(--p5);
}

.secundario {
    background: var(--c10);
    color: var(--c4);
}

.primario:hover {
    background: linear-gradient(180deg, #FFB60D 0%, #E59317 100%);
}

.secundario:hover {
    background: var(--c9)
}